<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <header>
        <h1>Welcome to our website!</h1>
        <p>Hello, <%= user.username %>!</p>
    </header>


    <main>
        <section>
            <h2>Featured Products</h2>
        </section>

        <section>
            <h2>Latest News</h2>
            <!-- Hiển thị tin tức mới nhất -->
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Our Website. All rights reserved.</p>
    </footer>
</body>

</html>